@charset "utf-8";

:root{
    --colorPalette01: darkviolet; 
}

*{
    margin: 0;
    padding: 0;
}

header#headerTop{
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 6px lightgrey;
    position: relative;
    height: 150px;
}

header#headerTop h1#nameAtelie{
    margin-bottom: 40px;
    color: var(--colorPalette01);
}

header#headerTop nav#navOfTop p{
    display: inline;
}

header#headerTop nav#navOfTop a{
    padding-left: 20px;
    text-decoration: none;
    color: #000000;
}

header#headerTop nav#navOfTop a:hover{
    color: rgb(95, 95, 95);
}

header#headerTop figure#logoImage img#logoLocation{
    position: absolute;
    left: 20px;
    top: 5px;
    box-shadow: 0px 0px 4px #000000;
}

header#headerTop figure#logoImage figcaption p {
    position: absolute;
    padding: 5px;
    top: 140px;
}

