@charset "utf-8";

:root{
    --colorPalette01: darkviolet; 
}

*{
    margin: 0;
    padding: 0;
}

header#headerTop{
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 6px lightgrey;
}

header#headerTop h1#nameAtelie{
    margin-bottom: 40px;
    color: var(--colorPalette01);
}

header#headerTop p{
    display: inline;
}

header#headerTop nav#navOfTop a{
    padding-left: 20px;
    text-decoration: none;
    color: #000000;
}

header#headerTop nav#navOfTop a:hover{
    color: rgb(95, 95, 95);
}